@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --font-montserrat: var(--font-montserrat);
    --font-oswald: var(--font-oswald);
  }
}

body {
  background-color: #f3f4f6;
  color: #111827;
  font-family: var(--font-montserrat), system-ui, sans-serif;
}
